body {
  font-family: 'operator mono', helvetica;
  margin: 1em;
}
button {
  margin: 1em;
}
#flexing div {
  padding: 0.2em;
}
#flex1 {
  background-color: blue;
  color: #ddd;
}
#flex2 {
  background-color: green;
}
#flex3 {
  background-color: red;
}
#flexing {
  height: 200px;
  background: lightgrey;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

  li {
    background-color: darkred;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  ul {
    flex-direction: column;
    margin-left: 0;
    padding-left: 0;

    li {
      padding-left: 0;
    }
  }
}

#plane {
  font-size: 100px;
}
